.otp_box{
    display: none;
    text-align: center;
}
.otp_box h6{
    margin-bottom: 20px;
    /* font-size: 17px; */
}

.otp_box button{
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 5px;
    background: #16a0da;
    color: #ffff;
}
.countdown-text{
    display: flex;
    justify-content: center;
}
.countdown-text button{
    margin-top: -5px;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 14px;
}

.registerSuccess{
    width: 100%;
    padding: 10px;
    text-align: center;
    display: none;
}
.registerSuccess a{
    color: #16a0da;
}
#otpInput{
    margin-top: -10px;
    
}#otpInput{
    width: 70%;
    margin-top: 20px;
}
.area-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    margin-bottom: 20px;
}
.area-container select{
    width: 100%;
    border: none;
    border-bottom: 1px solid gainsboro;
    background: none;
    margin-top: 15px;
    color: #5c5c5c;;
    font-size: 15px;
    outline: none;
    overflow: hidden;
    
}

.passwordToggleBtn{
    position: absolute;
    z-index: 999;
    margin-top: 8px;
    margin-left: -25px;
    font-size: 20px;
}

.css-13cymwt-control {
    border-width: 0px !important;
    padding: 0px !important;
}

.css-t3ipsp-control {
    border-width: 0px !important;
    box-shadow: none !important;
}
.css-t3ipsp-control:hover {
    border-width: 0px !important;
    box-shadow: none !important;
}
.css-1fdsijx-ValueContainer{
    padding: 2px 0px !important;
}
.css-1xc3v61-indicatorContainer {
    padding: 0px !important;
}

.css-1u9des2-indicatorSeparator {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: 0px !important;
    background-color: none !important;
}
.css-1jqq78o-placeholder {
    margin-left: 0px !important;
}

@media screen and (max-width: 576px) {
   
    .area-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-bottom: 20px;
    }
    .area-container select{
        width: 100%;
        border: none;
        border-bottom: 1px solid gainsboro;
        background: none;
        margin-top: 15px;
        color: #5c5c5c;;
        font-size: 14px;
        outline: none;
        overflow: hidden;
        
    }
}
@media screen and (max-width: 360px) {
    .otp_box{
        margin: 0px 20px;
    }
    .otp_box h6{
        margin-bottom: 20px;
    }
    #otpInput{
        margin-top: -10px;
        
    }
    .otp_box button{
        font-size: 13px;
        margin: 20px 0px 10px 0px;
    }

    .area-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-bottom: 20px;
    }
    .area-container select{
        width: 100%;
        border: none;
        border-bottom: 1px solid gainsboro;
        background: none;
        margin-top: 15px;
        color: #5c5c5c;;
        font-size: 14px;
        outline: none;
        overflow: hidden;
        
    }
}