.otp_box{
    display: none;
    text-align: center;
}
.otp_box h6{
    margin-bottom: 20px;
    /* font-size: 17px; */
}

.otp_box button{
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 5px;
    background: #16a0da;
    color: #ffff;
}