.customer-details-container{
    width: 60%;
    margin-top: 20px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    overflow: hidden;
}
.customer-profile{
    width: 100%;
    padding: 25px;
    color: #5c5c5c;
}
.customer-profile h4{
    margin-bottom: 15px;
}
.customer-profile button{
    padding: 10px 20px;
    background: #16a0da;
    color: #ffff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}