.wallet-content-container, .wallet-withdrawal-container, .withdrawal-history-container {
  margin: 120px 40px 0px 40px;
}
.wallet-content-container h2 {
  margin-bottom: 20px;
}

.wallet-balance-container,
.wallet-withdrawal-container,
.wallet-security-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  background: #ffff;
  padding: 25px;
  /* margin-bottom: 25px; */
  border-radius: 10px;
  color: #444444;
  font-weight: 600;
}
.wallet-balance-container h6,
.wallet-withdrawal-container h6,
.wallet-security-container h6 {
  font-weight: 700;
  /* color: #444444; */
  font-size: 18px;
  margin-bottom: 15px;
}
.withdraw-request-input-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 20px;
}

.wallet-withdrawal-container input,
.wallet-withdrawal-container select {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 0px 10px;
}

.wallet-withdrawal-container input::-webkit-outer-spin-button,
.wallet-withdrawal-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.wallet-withdrawal-container input[type=number] {
  -moz-appearance: textfield;
}

#withdrawRequestSubmitBtn{
  padding: 10px 20px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background: #16a0da;
  color: #ffff;
  transition: all .2s ease-in;
}
#withdrawRequestSubmitBtn:hover{
  background: #011627f1;
  color: #ffff;
}

.balance-up-down {
  display: flex;
  margin-top: 20px;
}

.balance-up-down span {
  margin-right: 50px;
  font-size: 15px;
}
.balance-up-down span i {
  background: rgb(221, 221, 221);
  padding: 3px 5px;
  border-radius: 50px;
  font-weight: 600;
}
.info-content {
  font-size: 18px;
  font-weight: 500;
  color: #444444;
}

.wallet-security-container p i {
  /* font-size: 20px; */
  color: rgb(75, 75, 75);
}
.wallet-security-container button {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 30px;
  outline: none;
  background: none;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #444444;
}
.transaction-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  background: #ffff;
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
}

.withdraw-request-history-container {
  margin: 0px 0px 20px 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-gap: 20px; */
}
.withdraw-request,
.withdraw-history {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  background: #ffff;
  padding: 30px 20px;
  margin-top: 22px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.withdraw-request h5,
.withdraw-history h5 {
  margin-bottom: -5px;
  margin-top: 15px;
  color: #444444;
  font-size: 18px;
}
.withdraw-request i,
.withdraw-history i {
  font-size: 20px;
  background: #16a0da;
  color: #ffff;
  padding: 10px 12px;
  border-radius: 50px;
}

/* .transaction-history-table-container{
  margin: 10px;
} */
.transaction-history-table-container th {
  font-weight: 600;
}

.walletBackBtn{
  color: #16a0da;
}

#withdrawRequestCancelBtn{
  background: #e6130c;
  color: #ffff;
  padding-left: 28px;
  padding-right: 28px;
}
#withdrawRequestCanceledBtn{
  background: #555555;
  color: #ffff;
}

@media screen and (max-width: 768px) {
  .wallet-content-container {
    margin: 100px 10px 0px 10px;
  }
  .cashOut-send-deposit-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .transaction-history-table-container td {
    padding: 15px;
  }
  .withdraw-request-input-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px 20px;
  }
}
@media screen and (max-width: 400px) {
  .wallet-content-container {
    margin: 100px 10px 0px 10px;
  }
  .cashOut-send-deposit-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
