.add-customer-section {
  margin: 120px 30px 0px 30px;
  font-family: "Montserrat", sans-serif;
}
.add-customer-form-container {
  margin: 20px 0px;
  background: #ffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 40px;
  border-radius: 5px;
  overflow: hidden;
}
.add-customer-form-container form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 20px;
}
.add-customer-form-container form input,
.add-customer-form-container form textarea {
  width: 100%;
  padding: 8px;
  outline: none;
  background: none;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
}
.add-customer-form-container form textarea {
  height: 42px;
}
.add-customer-form-container button {
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background: #16a0da;
  padding: 0px;
  color: #ffff;
  margin-top: 23px;
}
.add-customer-form-container button:hover {
  background: #011627f1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 768px) {
  .add-customer-section {
    margin: 100px 0px 20px 0px;
  }
  .add-customer-form-container {
    margin: 30px 0px;
    padding: 20px;
  }
  .add-customer-form-container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    font-size: 14px;
  }

  .add-customer-form-container form input,
  .add-customer-form-container form textarea {
    padding: 10px;
    font-size: 14px;
  }
  .add-customer-form-container form textarea {
    /* height: 100px; */
  }
  .add-customer-form-container button {
    width: 50%;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    padding: 10px;
    color: #ffff;
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .add-customer-section {
    margin: 100px 0px 20px 0px;
  }
  .add-customer-form-container {
    margin: 30px 0px;
    padding: 20px;
  }
  .add-customer-form-container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    font-size: 13px;
  }

  .add-customer-form-container form input,
  .add-customer-form-container form textarea {
    padding: 10px;
    font-size: 13px;
  }
  .add-customer-form-container form textarea {
    height: 100px;
  }
  .add-customer-form-container button {
    width: 50%;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    padding: 10px;
    color: #ffff;
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .add-customer-section {
    margin: 100px 0px 20px 0px;
  }
  .add-customer-form-container {
    margin: 30px 0px;
    padding: 20px;
  }
  .add-customer-form-container form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    font-size: 13px;
  }

  .add-customer-form-container form input,
  .add-customer-form-container form textarea {
    padding: 10px;
    font-size: 13px;
  }
  .add-customer-form-container form textarea {
    height: 100px;
  }
  .add-customer-form-container button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    padding: 10px;
    color: #ffff;
    margin-top: 20px;
  }
}
@media screen and (max-width: 450px) {
  .add-customer-section {
    margin: 100px 0px 20px 0px;
  }
  .add-customer-form-container {
    margin: 30px 0px;
    padding: 20px;
  }
  .add-customer-form-container form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    font-size: 13px;
  }

  .add-customer-form-container form input,
  .add-customer-form-container form textarea {
    padding: 10px;
    font-size: 13px;
  }
  .add-customer-form-container form textarea {
    height: 100px;
  }
  .add-customer-form-container button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    padding: 10px;
    color: #ffff;
    margin-top: 20px;
  }
}
@media screen and (max-width: 400px) {
  .add-customer-section {
    margin: 100px 0px 20px 0px;
  }
  .add-customer-form-container {
    margin: 30px 0px;
    padding: 20px;
  }
  .add-customer-form-container form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    font-size: 13px;
  }

  .add-customer-form-container form input,
  .add-customer-form-container form textarea {
    padding: 10px;
    font-size: 13px;
  }
  .add-customer-form-container form textarea {
    height: 100px;
  }
  .add-customer-form-container button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    padding: 10px;
    color: #ffff;
    margin-top: 20px;
  }
}

@media screen and (max-width: 360px) {
  .add-customer-section {
    margin: 100px 0px 20px 0px;
  }
  .add-customer-form-container {
    margin: 30px 0px;
    padding: 20px;
  }
  .add-customer-form-container form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    font-size: 13px;
  }

  .add-customer-form-container form input,
  .add-customer-form-container form textarea {
    padding: 10px;
    font-size: 13px;
  }
  .add-customer-form-container form textarea {
    height: 100px;
  }
  .add-customer-form-container button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    padding: 10px;
    color: #ffff;
    margin-top: 20px;
  }
}
