.dashboard-section {
  margin: 50px;
  font-family: "Montserrat", sans-serif;
}
.dashboard-section h2{
  margin-bottom: 20px;
}

.profile-content-container{
  /* height: 78vh; */
  background: #ffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  color: #444444;
}
.profile-content{
  display: flex;
  justify-content: space-between;
  padding: 30px ;
  padding-bottom: 10px;
}
.profile-avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-content img{
  width: 100%;
  height: 100%;
}
.profile-content h5{
 color: #444444;
 margin-top: 10px;
}
.profile-content-textEnd{
  text-align: end;
}
.profileEditBtn{
  position: absolute;
  margin-top: -42px;
  margin-left: -25px;
  border: none;
  border-radius: 5px;
  background: #16a0da;
  color: #ffff;
}
.profile-contact-content{
 padding: 10px 30px;
}

.profile-contact-content h5{
 font-size: 17px;
 color: #444444;
 margin: 15px 0px 15px 0px;
}
.profile-content-textEnd h5{
  margin-top: 14px;
  font-weight: 600;
}
.profile-contact-content i{
 font-size: 20px;
 color: #16a0da;
 margin-top: 10px;
}

.dashboard-info-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.info-card-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 25px 30px;
  background: #ffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.info-card-icon {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  /* border: 2px solid #929292; */
  background: #169fda3b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-card-icon i {
  font-size: 30px;
  color: #16a0da;
}
.info-card-content {
  text-align: right;
  width: 70%;
}
.info-card-content h4 {
  font-weight: 600;
  color: #444444;
}
.info-card-content h6 {
  color: #555555;
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  /* margin: 40px; */
}
.sales-chart-container,
.commission-chart-container {
  background: #ffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 30px 0px;
  padding: 30px;
  border-radius: 10px;
}
.sales-chart-container Bar,
.commission-chart-container Bar {
  width: 50%;
}

@media screen and (max-width: 1400px) {
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .info-card-container {
    padding: 20px 30px;
  }
  .info-card-icon i {
    font-size: 30px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 70%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .info-card-container {
    padding: 20px 30px;
  }
  .info-card-icon i {
    font-size: 30px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 70%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
 
  .dashboard-section {
    margin: 20px 10px;
  }
  .profile-container{
    margin-bottom: 20px;
  }
  
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .info-card-container {
    padding: 20px 30px;
  }
  .info-card-icon i {
    font-size: 25px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 80%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }

  .chart-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .sales-chart-container,
  .commission-chart-container {
    margin: 40px 0px;
  }
  .commission-chart-container {
    margin: 0px;
  }
  .sales-chart-container Bar,
  .commission-chart-container Bar {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .dashboard-section {
    margin: 20px 10px;
  }
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .info-card-container {
    padding: 20px 30px;
  }
  .info-card-icon i {
    font-size: 25px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 80%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }

  .chart-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .sales-chart-container,
  .commission-chart-container {
    margin: 40px 0px;
  }
  .commission-chart-container {
    margin: 0px;
  }
  .sales-chart-container Bar,
  .commission-chart-container Bar {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .dashboard-section {
    margin: 20px 10px;
  }
  /* .profile-content{
    display: block;
  }
  .profile-content-textEnd{
    text-align: left;
  }
  .profileEditBtn{
    position: absolute;
    margin-top: -200px;
    margin-left: 220px;
  } */

  .profile-content{
    padding-bottom: 0px;
  }
  .profile-content img{
    width: 150px;
    height: 100%;
    border-radius: 50%;
  }
  
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .info-card-container {
    padding: 20px 30px;
  }
  .info-card-icon i {
    font-size: 25px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 80%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }

  .chart-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .sales-chart-container,
  .commission-chart-container {
    margin: 40px 0px;
  }
  .commission-chart-container {
    margin: 0px;
  }
  .sales-chart-container Bar,
  .commission-chart-container Bar {
    width: 30%;
  }
}
@media screen and (max-width: 450px) {
  .profile-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px ;
    padding-bottom: 10px;
  }
  .profile-avatar{
    width: 120px;
    height: 120px;
  }
  .profile-avatar img{
    width: 100%;
  }

  .profile-content-textEnd{
    text-align: left;
  }
  .profile-content-textEnd .profileEditBtn{
    margin-top: -120px;
    margin-left: 320px;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    color: #ffff;
  }
  .profile-content-textEnd h5{
    font-size: 18px;
  }
  .profile-content-textEnd h5{
    margin-top: 14px;
    font-weight: 600;
  }
  
  .profile-contact-content{
    padding: 10px 20px;
  }
  .profile-contact-content h5{
    font-size: 15px;
    font-weight: 600;
  }
  
  .profile-contact-content i{
    font-size: 18px;
  }
  .profile-contact-content p, .profile-contact-content label{
    font-size: 14px;
  }
  .dashboard-section {
    margin: 20px 10px;
  }
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 0px;
  }
  .info-card-container {
    padding: 20px 30px;
  }
  .info-card-icon i {
    font-size: 25px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 80%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }

  .chart-container {
    /* width: 90vw; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .sales-chart-container {
    margin: 30px 0px;
    width: 400px;
  }
  .commission-chart-container {
    margin: 0px;
    width: 400px;
  }
  .sales-chart-container Bar,
  .commission-chart-container Bar {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .profile-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px ;
    padding-bottom: 10px;
  }
  .profile-avatar{
    width: 120px;
    height: 120px;
  }
  .profile-avatar img{
    width: 100%;
  }

  .profile-content-textEnd{
    text-align: left;
  }
  .profile-content-textEnd .profileEditBtn{
    margin-top: -120px;
    margin-left: 300px;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    color: #ffff;
  }
  .profile-content-textEnd h5{
    font-size: 18px;
  }
  .profile-content-textEnd h5{
    margin-top: 14px;
    font-weight: 600;
  }
  
  .profile-contact-content{
    padding: 10px 20px;
  }
  .profile-contact-content h5{
    font-size: 15px;
    font-weight: 600;
  }
  
  .profile-contact-content i{
    font-size: 18px;
  }
  .profile-contact-content p, .profile-contact-content label{
    font-size: 14px;
  }
  .dashboard-section {
    margin: 20px 10px;
  }
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 0px;
  }
  .info-card-container {
    padding: 20px 30px;
  }
  .info-card-icon i {
    font-size: 25px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 80%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }

  .chart-container {
    /* width: 90vw; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .sales-chart-container {
    margin: 30px 0px;
    width: 375px;
  }
  .commission-chart-container {
    margin: 0px;
    width: 375px;
  }
  .sales-chart-container Bar,
  .commission-chart-container Bar {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .profile-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px ;
    padding-bottom: 10px;
  }
  .profile-avatar{
    width: 90px;
    height: 90px;
  }
  .profile-avatar img{
    width: 100%;
  }

  .profile-content-textEnd{
    text-align: left;
  }
  .profile-content-textEnd .profileEditBtn{
    margin-top: -90px;
    margin-left: 280px;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    color: #ffff;
  }
  .profile-content-textEnd h5{
    font-size: 18px;
  }
  .profile-content-textEnd h5{
    margin-top: 14px;
    font-weight: 600;
  }
  
  .profile-contact-content{
    padding: 10px 20px;
  }
  .profile-contact-content h5{
    font-size: 15px;
    font-weight: 600;
  }
  
  .profile-contact-content i{
    font-size: 18px;
  }
  .profile-contact-content p, .profile-contact-content label{
    font-size: 14px;
  }

  .dashboard-section {
    margin: 20px 10px;
  }
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 0px;
  }
  .info-card-container {
    padding: 20px 30px;
  }
  .info-card-icon i {
    font-size: 25px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 80%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }

  .chart-container {
    /* width: 90vw; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .sales-chart-container {
    margin: 30px 0px;
    width: 355px;
  }
  .commission-chart-container {
    margin: 0px;
    width: 355px;
  }
  .sales-chart-container Bar,
  .commission-chart-container Bar {
    width: 100%;
  }
}
@media screen and (max-width: 385px) {
  .profile-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px ;
    padding-bottom: 10px;
  }
  .profile-avatar{
    width: 90px;
    height: 90px;
  }
  .profile-avatar img{
    width: 100%;
  }

  .profile-content-textEnd{
    text-align: left;
  }
  .profile-content-textEnd .profileEditBtn{
    margin-top: -90px;
    margin-left: 250px;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    color: #ffff;
  }
  .profile-content-textEnd h5{
    font-size: 18px;
  }
  .profile-content-textEnd h5{
    margin-top: 14px;
    font-weight: 600;
  }
  
  .profile-contact-content{
    padding: 10px 20px;
  }
  .profile-contact-content h5{
    font-size: 15px;
    font-weight: 600;
  }
  
  .profile-contact-content i{
    font-size: 18px;
  }
  .profile-contact-content p, .profile-contact-content label{
    font-size: 14px;
  }
  .dashboard-section {
    margin: 20px 10px;
  }
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 0px;
  }
  .info-card-container {
    padding: 20px 30px;
  }
  .info-card-icon i {
    font-size: 25px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 80%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }

  .chart-container {
    /* width: 90vw; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .sales-chart-container {
    margin: 30px 0px;
    width: 334px;
  }
  .commission-chart-container {
    margin: 0px;
    width: 334px;
  }
  .sales-chart-container Bar,
  .commission-chart-container Bar {
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  .profile-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px ;
    padding-bottom: 10px;
  }
  .profile-avatar{
    width: 90px;
    height: 90px;
  }
  .profile-avatar img{
    width: 100%;
  }

  .profile-content-textEnd{
    text-align: left;
  }
  .profile-content-textEnd .profileEditBtn{
    margin-top: -90px;
    margin-left: 250px;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    color: #ffff;
  }
  .profile-content-textEnd h5{
    font-size: 18px;
  }
  .profile-content-textEnd h5{
    margin-top: 14px;
    font-weight: 600;
  }
  
  .profile-contact-content{
    padding: 10px 20px;
  }
  .profile-contact-content h5{
    font-size: 15px;
    font-weight: 600;
  }
  
  .profile-contact-content i{
    font-size: 18px;
  }
  .profile-contact-content p, .profile-contact-content label{
    font-size: 14px;
  }
  .dashboard-section {
    margin: 20px 10px;
  }
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 0px;
  }
  .info-card-container {
    padding: 20px 30px;
  }
  .info-card-icon i {
    font-size: 25px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 80%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }

  .chart-container {
    /* width: 90vw; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .sales-chart-container {
    margin: 30px 0px;
    width: 315px;
  }
  .commission-chart-container {
    margin: 0px;
    width: 315px;
  }
  .sales-chart-container Bar,
  .commission-chart-container Bar {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .profile-content{
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px ;
  padding-bottom: 10px;
  }
  .profile-avatar{
    width: 90px;
    height: 90px;
  }
  .profile-avatar img{
    width: 100%;
  }

  .profile-content-textEnd{
    text-align: left;
  }
  .profile-content-textEnd .profileEditBtn{
    margin-top: -90px;
    margin-left: 220px;
    border: none;
    border-radius: 5px;
    background: #16a0da;
    color: #ffff;
  }
  .profile-content-textEnd h5{
    font-size: 18px;
  }
  .profile-content-textEnd h5{
    margin-top: 14px;
    font-weight: 600;
  }
  
  .profile-contact-content{
    padding: 10px 20px;
  }
  .profile-contact-content h5{
    font-size: 15px;
    font-weight: 600;
  }
  
  .profile-contact-content i{
    font-size: 18px;
  }
  .profile-contact-content p, .profile-contact-content label{
    font-size: 14px;
  }
  
  .dashboard-section {
    margin: 20px 10px;
  }
  .dashboard-info-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 0px;
  }
  .info-card-container {
    padding: 20px;
  }
  .info-card-icon i {
    font-size: 25px;
    color: #16a0da;
  }
  .info-card-content {
    text-align: right;
    width: 80%;
  }
  .info-card-content h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .info-card-content h6 {
    font-size: 14px;
  }

  .chart-container {
    /* width: 90vw; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .sales-chart-container {
    margin: 30px 0px;
    width: 315px;
  }
  .commission-chart-container {
    margin: 0px;
    width: 315px;
  }
  .sales-chart-container Bar,
  .commission-chart-container Bar {
    width: 50%;
  }
}

