.agent-panel-home-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0px;
  padding: 0px;
}
.dashboard-sidebar {
  grid-column: 1 / 3;
}
.dashboard-content-outlet-container {
  grid-column: 3 / 13;
  grid-row: 1/2;
}
.dashboard-navbar {
  height: 95px;
  background: #011627f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0px 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.user-tab {
  display: flex;
  font-size: 20px;
}
.user-tab input {
  width: 300px;
  height: 50px;
  border-radius: 30px;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 15px;
  border: none;
  padding: 0px 20px;
  background: #ffffff02;

  color: #ffffff;
  outline: none;
  border: .5px solid rgb(148, 148, 148);
}
.user-tab i {
  position: absolute;
  margin-top: 19px;
  margin-left: 265px;
  font-size: 16px;
  color: #a1a1a1;
}
.user-tab small {
  margin: 17px;
}
.user-profile {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid gainsboro;
}
.user-profile img{
  width: 63px;
}
.closeBar-icon, .bar-icon{
  display: none;
  transition:  300ms ease-in-out;
}

.profile_dropdown{
  width: 200px;
  padding: 0px 0px;
  padding-bottom: 10px;
  overflow: hidden;
}
.profile_dropdown img{
  border-radius: 50%;
}
.profile_dropdown h6{
  margin: 10px;
}

.profile_dropdown li{
  list-style: none;
  cursor: pointer;
}
.profile_dropdown li i{
  color: black;
}


@media screen and (max-width: 1400px) {
  .agent-panel-home-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0px;
    padding: 0px;
  }

  .dashboard-sidebar {
    grid-column: 1 / 3;
    grid-row: 1/2;
  }

  .dashboard-content-outlet-container {
    grid-column: 3 / 13;
    grid-row: 1/2;
  }

  .user-tab input {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    margin-top: 5px;
    font-size: 15px;
    border: none;
    padding: 0px 20px;
    background: #ffffff02;
    color: #ffffff;
    outline: none;
    border: .5px solid rgb(148, 148, 148);
  }

  .user-tab i {
    position: absolute;
    margin-top: 19px;
    margin-left: 215px;
    font-size: 16px;
    color: #a1a1a1;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-navbar {
    height: 80px;
    padding: 0px 20px;
  }
  .agent-panel-home-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0px;
    padding: 0px;
  }

  .dashboard-sidebar {
    grid-column: 0 / 0;
    grid-row: 1/2;
  }

  .dashboard-content-outlet-container {
    grid-column: 1 / 13;
    grid-row: 1/2;
  }

  .user-tab input {
    width: 200px;
    height: 45px;
    border-radius: 30px;
    margin-top: 5px;
    font-size: 14px;
    border: none;
    padding: 0px 20px;
    background: #ffffff02;
    color: #ffffff;
    outline: none;
    border: .5px solid rgb(148, 148, 148);
  }

  .user-tab i {
    position: absolute;
    margin-top: 15px;
    margin-left: 170px;
    font-size: 16px;
    color: #a1a1a1;
  }
  .bar-icon{
    display: block;
    font-size: 30px;
  }
  .contentTitle .closeBar-icon{
    transition:  250ms ease-in-out;
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .dashboard-navbar {
    height: 80px;
    padding: 0px 20px;
    font-size: 25px;
  }
  .agent-panel-home-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0px;
    padding: 0px;
  }

  .dashboard-sidebar {
    grid-column: 0 / 0;
    grid-row: 1/2;
  }

  .dashboard-content-outlet-container {
    grid-column: 1 / 13;
    grid-row: 1/2;
  }

  .user-tab input {
    display: none;
  }

  .user-tab i {
    display: none;
  }
  .bar-icon{
    display: block;
    font-size: 30px;
  }
  .contentTitle .closeBar-icon{
    transition:  250ms ease-in-out;
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  .dashboard-navbar {
    height: 80px;
    padding: 0px 20px;
    font-size: 25px;
  }
  .agent-panel-home-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0px;
    padding: 0px;
  }

  .dashboard-sidebar {
    grid-column: 0 / 0;
    grid-row: 1/2;
  }

  .dashboard-content-outlet-container {
    grid-column: 1 / 13;
    grid-row: 1/2;
  }

  .user-tab input {
    display: none;
  }

  .user-tab i {
    display: none;
  }
  .bar-icon{
    display: block;
    font-size: 30px;
  }
  .contentTitle .closeBar-icon{
    transition:  250ms ease-in-out;
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  .dashboard-navbar {
    height: 80px;
    padding: 0px 20px;
    font-size: 25px;
  }
  .user-tab small{
    display: none;
  }
  .user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid gainsboro;
  }
  .user-profile img{
    margin-left: -2px;
    width: 53px;
  }
}